**/config-firefox/**
!**/config-firefox/*.tar.bz2
**/config-chromium/**
!**/config-chromium/*.tar.bz2
**/queryfile-filtered/queryfile/**
**/queryfile-filtered/queryfiles/**
**/docker/dnscrypt-proxy
**/docker/digdrift
**/.env/
**/__pycache__/**
**/.ipynb_checkpoints/**
**/.vscode/**
**/outfiles/olddata/**
**/outfiles/results/**
**/outfiles/images/**
**/datavis-tcp-keepalive.html
**/*.tar.xz

